@media only screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    gap: 30px;
  }
  .nav-items {
    flex-direction: column;
    gap: 7px;
  }
  .nav-end {
    flex-direction: column;
    gap: 15px;
  }
}
