@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
}
body {
  max-width: 1440px;
}
img {
  object-fit: cover;
}
:root {
  --primary-color: #abef5f;
}
button:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}

/* Shared Styles */
/* Header Related STyles */
header {
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.nav-icon {
  background-color: var(--primary-color);
  padding: 7px;
  border-radius: 50%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 35px 0;
}
.nav-items li {
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  color: #212121;
  opacity: 0.8;
  font-weight: 700;
}
.nav-items li a:hover {
  opacity: 1;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-btn img {
  background-color: #212121;
  border-radius: 50%;
  padding: 8px;
}
.nav-end {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-btn {
  background-color: var(--primary-color);
  padding: 8px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.5s;
}
.nav-btn img {
  width: 32px;
  height: 32px;
}
.logo h2 {
  font-weight: 800px;
}
.btn-text {
  font-weight: 800;
}
.nav-btn:hover {
  scale: 0.9;
}
.nav-end i:hover {
  scale: 0.9;
}
.nav-end i {
  transition: all 0.5s;
}
/* Header Related STyles */
/* Hero related styles */
.hero-container {
  width: 85%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}
.text-container {
  text-align: center;
}
.banner-title {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: #212121;
}
.banner-des {
  padding: 10px 0;
  color: #212121;
  opacity: 0.8;
  width: 80%;
  margin: 0 auto;
}
.hero-btn {
  background: rgba(171, 239, 95, 0.5);
  padding: 15px 24px;
  border: none;
  outline: none;
  transition: all 0.5s;
  border-radius: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  margin: 0 auto;
}
.hero-btn:hover {
  scale: 0.9;
}
/* Hero related styles */

/* Design related styles */
.design-container {
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 85%;
  padding: 50px 0;
}
.about-us-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  outline: none;
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.5s;
}
.about-us-btn:hover {
  cursor: pointer;
}
.design-title {
  font-size: 35px;
  font-weight: 900;
  padding: 20px 0;
}
.design-des {
  opacity: 0.6;
  padding-bottom: 15px;
}
.design-card {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 25px 0;
}
.design-card-des {
  max-width: 350px;
  padding: 10px 0;
  color: #212121;
  opacity: 0.7;
}
.design-container-parent {
  background-color: #f4f4f4;
  position: relative;
  margin: 50px 0;
}
.vector-arrow {
  position: absolute;
  top: 3%;
  left: 3%;
}

/* Design related styles */
/* Counter related styles  */
.counter-container {
  width: 85%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-regular {
  font-size: 50px;
  opacity: 0.6;
}
.counter-card-title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding: 5px 0;
  opacity: 0.7;
}
.counter-card-des {
  color: #212121;
  opacity: 0.6;
  font-weight: 700;
}
.counter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}
/* Counter related styles  */

/* Work process related styles */
.work-process-container {
  width: 85%;
  margin: 50px auto;
}
.work-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.how-we-work-btn {
  border: none;
  outline: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
}
.how-we-work-btn i {
  margin-right: 5px;
}
.work-content-title {
  font-weight: bold;
  color: #212121;
  font-size: 40px;
}
.work-content-des {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  opacity: 0.6;
}
.work-content-card {
  background-color: #e7c1d3;
  border: none;
  border-radius: 15px;
  padding: 20px;
}
.work-content-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding: 50px 0;
}
.work-2 {
  background-color: #efda6e;
}
.work-3 {
  background-color: #a4dac3;
}
.work-4 {
  background-color: #77aaea;
}
.work-content-card > h1 {
  font-size: 20px;
  padding: 10px 0;
  font-weight: 700;
}
.work-content-card p {
  opacity: 0.6;
  font-weight: 600;
}
/* Work process related styles */
/* Latest Portfolio container related styles */
.latest-portfolio-container {
  width: 85%;
  margin: 50px auto;
}
/* Latest Portfolio container related styles */
/* Read our architect container styles */

/* Read our architect container styles */
